// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #2F66E9
$secondary = #FCBD43
$tertiary  = #262626

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$typography-font-family = 'Montserrat', 'Montserrat Alternates', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

/* Font Weights */
$normal = 400
$bold   = 700

/* COLORS */

/*colors main*/
$tk-blue        = #2F66E9
$tk-blue-dark   = #2156C1
$tk-yellow      = #FCBD43
$tk-yellow-dark = #E3AC3C
$tk-black       = #1A1A1A
$tk-white       = #FFFFFF

/*light-ui color*/
$tk-grey-full   = #4D4D4D
$tk-grey-1      = #CCCCCC
$tk-grey-2      = #DDDDDD
$tk-grey-3      = #F2F2F2
$tk-grey-4      = #F8F8F8

/*dark-ui color*/
$tk-dark-grey-full      = #2B2B2B
$tk-dark-grey-full-dark = #232323
$tk-dark-grey-1         = #333434
$tk-dark-grey-2         = #363636
$tk-dark-grey-3         = #4D4D4D
$tk-dark-grey-4         = #666666
$tk-dark-grey-5         = #808080
$tk-dark-white          = #F3EFD4

/*shadow*/
$tk-shadow = 0px 0px 5px 2px rgba(0,0,0,0.1)

/*corner-radius*/
$tk-corner-radius       = 10px
$tk-corner-radius-full  = 100px
